<template>
  <div id="app">
    <header></header>
    <section class="carousel"></section>
    <span id="highlights__image" class="visually-hidden">
      You can drag using mouse.
      <span v-if="imageSwapped" aria-live="polite" role="alert">
        <p>Images swapped.</p>
      </span>
    </span>
    <section class="container">
      <div class="highlights" v-for="(highlight, index) in highlights">
        <div :class="highlight.className" v-on:dragover="dragOver($event)" v-on:dragleave="dragLeave(index)" v-on:dragenter="dragEnter(index, $event)" v-on:drop="dragDrop(index)"  v-on:dragstart="dragStart(index)" draggable="true" class="image__container">
        <img  class="highlights__image" aria-describedby="highlights__image" :src="highlight.src" :alt="highlight.altSrc" />
        </div>
        <h2 class="highlights__heading">
          {{highlight.heading}}
        </h2>
        <div class="highlights__content">
        <p>
          {{highlight.content}}
          <p v-if="highlight.contentExtra">
            {{highlight.contentExtra}}
        </p>
        </div>
        <a :href="highlight.linkUrl" :aria-label="highlight.linkAccessibileText" class="highlights__link">{{highlight.linkText}}</a>
      </div>
    </section>
    <section class="news-tesimonial">
    </section>
    <footer></footer>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      highlights: [
        {
          className: '',
          src: "/src/assets/images/computer-user.jpg",
          altSrc: "",
          heading: "Introduction to Habitat",
          content: `Sitecore Habitat is a range of sites demonstrating the capabilities of the Sitecore Experience Platform.`,
          contentExtra: `The solution is built on the Sitecore Helix guidelines, which focuses on increasing productivity and quality in Sitecore projects`,
          linkText: "Read more",
          linkAccessibileText: "Link to Habitat introduction page",
          linkUrl: "#"
        },
        {
          className: '',
          src: "/src/assets/images/tablet-user.jpg",
          altSrc: "",
          heading: "Modules",
          content: "The Habitat example implementation has a range of modules which covers the basics of a Sitecore website.",
          linkText: "Read more",
          linkAccessibileText: "Link to Habitat modules page",
          linkUrl: "#"
        },
        {
          className: '',
          src: "/src/assets/images/creditcard-user.jpg",
          altSrc: "",
          heading: "Getting Started",
          content: "Sitecore Helix a defined methodology with conventions and practises - Habitat is an example implementation available for your understanding.",
          linkText: "Read more",
          linkAccessibileText: "Link to getting started page for Habitat",
          linkUrl: "#"
        }
      ],
      oldImageIndex: 0,
      imageSwapped: false
    }
  },
  methods: {
    dragStart(index) {
      this.oldImageIndex = index;
    },
    dragEnter(index, $event) {
      this.highlights[index].className = "image__container--drag-enter";
    },
    dragDrop(index) {
        //swapping the old and new images
      let oldSrc = this.highlights[this.oldImageIndex].src;
      let currentSrc = this.highlights[index].src;
      this.highlights[index].src = oldSrc;
      this.highlights[this.oldImageIndex].src = currentSrc;
      this.imageSwapped = true;
      this.highlights.forEach(highlight => {
        highlight.className = "";
      });
    },
    dragLeave(index) {
      this.highlights[index].className = "";
    },
    dragOver($event) {
       $event.preventDefault();
    }
  }
}
</script>

<style lang="scss">

$brand-color: #79a0ba;
$xl-min-width: 1200px;
$lg-min-width: 992px;
$md-min-width: 768px;
$sm-min-width: 576px;

@font-face {
    font-family: "Bitter Bold";
    src: url("/src/assets/fonts/bitter-bold.woff") format("woff");
}
@font-face {
    font-family: "Bitter Regular";
    src: url("/src/assets/fonts/bitter-regular.woff") format("woff");
}
h2{
  font-family: "Bitter Bold";
  font-size: 2.5em;
  margin: .5em 0;
}
* {
  box-sizing: border-box;
}
body{
  font-size: 10px;
  color: $brand-color;
}
p{
  font-family: "Bitter Regular"
}
/* for shaded area */
header{
  height: 25px;
  width: 100%;
  background-color: #2e384e;
}
.carousel{
  width: 100%;
  height: 100px;
  background-color: #5c5c66;
  margin-bottom: 6em;
}
.news-tesimonial{
  height: 120px;
  width: 100%;
  background-color: #424c5f;
  margin-top: 6em;
}
footer{
  height: 80px;
  width: 100%;
  background-color: #2e384e;
}

/* *********** */

.highlights{
  padding: 0 .5em;
  width: 33.33%;
  margin-bottom: 3em;
    @media (max-width: ($md-min-width)-1) {
      width: 100%;;
    }
}
.highlights+.highlights{
  margin-left: .5em;
}
.highlights__content{
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 1.5em;

}
.highlights__image{
    display: block;
    width: 100%;
    height: auto;
}
.highlights__link{
  border: .15em solid $brand-color;
  margin-top: 2em;
    padding: 7px 14px;
    border-radius: 1.5em;
    color: $brand-color;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
    font-family: "Bitter Bold";
    transition: .3s;
    &:hover{
      color: white;
      background-color: $brand-color;
    }
}

.container {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $sm-min-width) {
      max-width: 540px;
    }
    @media (min-width: $md-min-width) {
      max-width: 720px;
    }
    @media (min-width: $lg-min-width) {
      max-width: 960px;
    }
    @media (min-width: $xl-min-width) {
      max-width: 1140px;
    }
    @media (max-width: ($md-min-width)-1) {
      display: block;
    }
}
.visually-hidden{
  visibility: hidden;
  position: fixed;
}
.image__container{
  cursor: move;
  &.image__container--drag-enter{
      border: 1px dotted red;
    img{
    opacity: .5;
    }
  }
}

</style>
